<ul [ngSwitch]='usuarioLogado()' class="nav navbar-nav navbar-right">
  <li *ngSwitchCase='false'><a [routerLink]="['/usuario/inscricao']">Registre-se</a></li>
  <li *ngSwitchCase='false'><a [routerLink]="['/usuario/entrar']">Entrar</a></li>
  clear
  <!-- javascript:void(0) para dizer que o link nao fara acao alguma para evitar recarregar a pagina -->
  <li *ngSwitchCase='true'><a href="javascript:void(0)" id="saudacaoUsuario">Olá {{ nome }}</a></li>
  <li *ngSwitchCase='true'><a href="javascript:void(0)" (click)="logout()">
    <span class="glyphicon glyphicon-off"></span> Sair</a></li>
</ul>